*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
  font-family:system-ui,sans-serif;
}



.navcontainer{
  position:fixed;
  top:0;
  left:0;
  width:100%;

  background:white;
  z-index:1000;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:22px 5%;

  border-bottom:1px solid #f1f1f1;
}



.logo{
  font-family:'Raleway',sans-serif;
  font-weight:200;
  font-size:32px;
}



.navlink{
  display:flex;
  align-items:center;
  gap:35px;

  list-style:none;
}



.list{
  position:relative;
}



.nav-item{
  display:flex;
  align-items:center;
  gap:5px;

  cursor:pointer;
  font-weight:600;

  transition:0.3s;
}

.nav-item:hover{
  color:orange;
}



a{
  text-decoration:none;
  color:black;
  font-weight:600;
  transition:0.3s;
}

a:hover{
  color:orange;
}



.nav-icons{
  display:flex;
  align-items:center;
  gap:18px;

  font-size:24px;
}


.dropdown{
  position:absolute;
  top:45px;
  left:0;

  width:320px;

  background:white;

  border-radius:16px;

  padding:20px;

  display:flex;
  flex-direction:column;

  gap:14px;

  box-shadow:0 5px 25px rgba(0,0,0,0.1);

  animation:drop 0.3s ease;
}

.dropdown p{
  cursor:pointer;

  font-weight:500;

  transition:0.3s;
}

.dropdown p:hover{
  color:orange;

  transform:translateX(5px);
}



@keyframes drop{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}



@media(max-width:992px){

  .navcontainer{
    padding:20px 4%;
  }

  .navlink{
    gap:22px;
  }

  .dropdown{
    width:260px;
  }

  .logo{
    font-size:28px;
  }

  .nav-icons{
    font-size:22px;
    gap:14px;
  }
}



@media(max-width:768px){

  .navcontainer{
    flex-wrap:wrap;
    gap:20px;
  }

  .navlink{
    width:100%;

    flex-direction:column;
    align-items:flex-start;

    gap:20px;

    padding-top:10px;
  }

  .dropdown{
    position:relative;

    top:10px;

    width:100%;

    box-shadow:none;

    border:1px solid #eee;
  }

  .nav-icons{
    width:100%;

    justify-content:flex-start;
  }
}


.dropdown-section {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width:100rem;
  height: 400px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  margin-left: 20px;
  margin-right: 20px;
  transform: translateX(-700px);
}


.dropdown-section div {
  text-align: center;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}




.dropdown-section img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.dropdown-section h4 {
  font-size: 15px;
  color: #222;
  margin-bottom: 8px;
  font-weight: 600;
}

.dropdown-section p {
 
  font-size: 16px;
  font-weight: bold;
}


.list {
  position: relative;
}
